.no-margin{
  margin: 0px;
}

.no-padding{
	padding: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.custom-center{
	width: 940px;
	margin-left: auto;
	margin-right: auto;
}

.jumbotron-custom-color{
	background-color:#ffffff;
}

.navbar-custom-padding{
	padding-top: 15px;
}

.navbar-custom {
    background-color:#ffffff;
    border-radius:0;
    
}

.custom-form-width{
	width: 40%;
}