#myNavbar {
	width: 960px;
	margin: auto;
	margin-top: 70px;
	background-color: #32dcfa;
}
#myNotices{
	width: 960px;
	height: 250px;
	background-color: #ffffff;
}

#myNotices2{
	width: 920px;
	padding-top : 20px;
	margin: auto;
}

#myNotices2 div{
	text-align: center;
	height: 200px;
	
}
.myNotice{
	background-color: #eeeeee;
}
#myJombotron{
	width: 960px;
}

.no-padding{
	padding: 0px;
}
#jqxMenu a{
	font-size: 18px;
	color: #ffffff;
	display: block;
	height: 50px;
}

