<section id="header" class="appear"></section>
<div class="navbar navbar-fixed-top custom-size" role="navigation" data-0="line-height:100px; height:100px; background-color:rgba(255,255,255,0);" data-300="line-height:60px; height:60px; background-color:rgba(32,32,32,0.9);">
  <div class="container custom-size">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="fa fa-bars color-white"></span>
      </button>
      <div class="col-md-3 col-lg-3" >
        <h1 style="margin:auto;"><a class="navbar-brand" href="#/" data-0="line-height:90px;" data-300="line-height:50px;">NEXTERS
        </a></h1>
      </div>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav" data-0="margin-top:20px;" data-300="margin-top:5px;">
        <li class="active"><a href="#/">About</a></li>
        <li><a href="#/Activities">Activities</a></li>
        <li><a href="#/Contact">Contact</a></li>
        <li><a href="#/Membership">Membership</a></li>

      </ul>
    </div><!--/.navbar-collapse -->
  </div>
</div>
