<div class="container col-lg-12" style="background-color: #32dcfa; height:105px;">

</div>
<div class="col-lg-12" style="padding:0; background-color:#ffffff;">
  <div class="col-lg-3" style="padding:10px 0;">
    <a href="#">asd</a>
  </div>
  <div class="col-lg-3" style="padding:10px 0;">
    <div class="col-lg-6 align-center" style="text-align;">
      <a ui-sref="Activities.member">member</a>
    </div>
    <div class="col-lg-6 align-center" style="text-align;">
      <a ui-sref="Activities.product">product</a>
    </div>
  </div>
  <div class="col-lg-3 " style="padding:10px 0;">
    <div class="col-lg-6 align-center" style="text-align;">
      archive
    </div>
    <div class="col-lg-6 align-center" style="text-align;">
      notice
    </div>
  </div>
  <div class="col-lg-3" style="padding:10px 0;">
    <div class="col-lg-6 align-center" style="text-align;">
      media
    </div>
    <div class="col-lg-6 align-center" style="text-align;">
      memories
    </div>
  </div>
</div>

<div ui-view></div>
