<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     
          "http://mybatis.org/dtd/mybatis-3-mapper.dtd">    
<mapper namespace="com.teamnexters.mapper">   
	<select id="searchMember" resultType="com.teamnexters.dto.MemberDTO">  
	       SELECT * FROM member WHERE "userId" = #{userid} AND "userPw" = #{userpw}
	</select>
	<select id="searchByUserName" resultType="com.teamnexters.dto.MemberDTO">  
	       SELECT * FROM member WHERE "userId" = #{userid}
	</select>
	<select id="getMemberList" resultType="com.teamnexters.dto.MemberDTO">  
	       SELECT * FROM member
	</select>
	<select id="userTag" resultType="com.teamnexters.dto.MemberDTO">
		   SELECT "userNo","userNm" FROM member WHERE "userNm" LIKE '%' || #{str} || '%'
	</select>
	<select id="getMemberListByGener" resultType="Map">  
	       SELECT "userNo", "userId", "userNm", "userCellNum" FROM member WHERE  1=1
	       <if test="gener != null and gener != ''">
	       	AND "userNo" LIKE '_' || #{gener} || '____' 
	       </if>
	       ORDER BY "userNo" DESC
	</select>
	<select id="getMemberAdminListByGener" resultType="Map">  
	       SELECT "userNo", "userId", "userNm", "userCellNum", "userStatus", "userRole" FROM member WHERE  1=1
	       <if test="gener != null and gener != ''">
	       	AND "userNo" LIKE '_' || #{gener} || '____' 
	       </if>
	       ORDER BY "userNo" DESC
	</select>
	<select id="getGenerList" resultType="Map">
		SELECT "gener"
			, count(*) as cnt
		FROM (
			SELECT substr("userNo", 2,2) as "gener" from member
		) as vTable1
		GROUP BY "gener"
		ORDER BY "gener" ASC
	</select>
	<insert id="insertUser" parameterType="com.teamnexters.dto.MemberDTO"  useGeneratedKeys="true">
		INSERT INTO member("userNo","userId","userNm","userCellNum","userStatus","userRole") VALUES ((SELECT MAX(substr("userNo", 0, 5))||lpad((MAX(substr("userNo", 5, 3))::numeric+1):: character varying,3,'0') FROM member WHERE "userNo" LIKE #{userNo} || '%') ,#{userId},#{userNm},#{userCellNum},'3','2')
		<selectKey resultType="string" keyProperty="userNo" order="AFTER">
		   select 1
		</selectKey>
	</insert>
	
	
	<select id="getMemberDetailInfo" resultType="Map">
		select "userNo","userId","userNm","userCellNum",
		<foreach item="info" index="index" collection="list" separator=",">
			(select "value" as ${info} from member_info_value where "userNo"=#{userNo} and "attr"=#{info}) 
		</foreach>
		from member
		where "userNo"=#{userNo}
	</select>
	
	
	<update id="updateMember">
		update member
		set "userNm"=#{userNm} , "userId"=#{userId}, "userCellNum"=#{userCellNum}
		where "userNo"=#{userNo};
	</update>
	<update id="updateMemberInfo">
			update member_info_value
			set "value"=#{value}
			where "userNo"=#{userNo} and "attr"=#{attr}
	</update>
	<delete id="deleteMember">
		delete from member_info_value
		where "userNo"=#{userNo};
		delete from member
		where "userNo"=#{userNo}
		
	</delete>
</mapper>