<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     
          "http://mybatis.org/dtd/mybatis-3-mapper.dtd">    
<mapper namespace="com.teamnexters.mapper">   
	<select id="searchMember" resultType="com.teamnexters.dto.MemberDTO">  
	       SELECT * FROM member WHERE "userId" = #{userid} AND "userPw" = #{userpw}
	</select>
	<select id="searchByUserName" resultType="com.teamnexters.dto.MemberDTO">  
	       SELECT * FROM member WHERE "userId" = #{userid}
	</select>
	<select id="getMemberList" resultType="com.teamnexters.dto.MemberDTO">  
	       SELECT * FROM member
	</select>
	<select id="userTag" resultType="com.teamnexters.dto.MemberDTO">
		   SELECT "userId","userNm" FROM member WHERE "userNm" LIKE '%' || #{str} || '%'
	</select>
</mapper>
