
<script>
var contact=function(data){
	if(data.result=="success"){
		alert('전송했습니다');
	}
}
	$(document).ready(function(){
		$('#sendMail').click(function(){
			userName=$('input[name=userName]').val().trim();
			if(userName==""){
				alert('이름을 입력하세요');
				return;
			}
			userEmail=$('input[name=userEmail]').val().trim();
			if(userEmail==""){
				alert('이메일을 입력하세요');
				return;
			}
			userSubject=$('input[name=userSubject]').val().trim();
			if(userSubject==""){
				alert('제목을 입력하세요');
				return;
			}
			userComment=$('textarea[name=userComment]').val().trim();
			if(userComment==""){
				alert('내용을 입력하세요');
				return;
			}
			requestJsonData("api/contact.do",{userName:userName,userEmail:userEmail,userSubject:userSubject,userComment:userComment},contact)
			
		})
	})
</script>
<section id="section-contact" class="section appear clearfix">
  <div class="container custom-size">

    <div class="row" style="margin-top:100px;">
      <div class="col-md-offset-3 col-md-6">
        <div class="section-header">
          <h2 class="section-heading animated" data-animation="bounceInUp">Contact us</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="cform" id="contact-form">
          <div id="sendmessage">
             Your message has been sent. Thank you!
          </div>
          
            <div class="form-group">
            <label for="name">이름</label>
            <input type="text" name="userName" class="form-control" id="name" placeholder="Your Name" data-rule="maxlen:4" data-msg="Please enter at least 4 chars" />
            <div class="validation"></div>
            </div>
            <div class="form-group">
            <label for="email">이메일</label>
            <input type="email" class="form-control" name="userEmail" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
            <div class="validation"></div>
            </div>
            <div class="form-group">
            <label for="subject">제목</label>
            <input type="text" class="form-control" name="userSubject" id="subject" placeholder="Subject" data-rule="maxlen:4" data-msg="Please enter at least 8 chars of subject" />
            <div class="validation"></div>
            </div>
            <div class="form-group">
            <label for="message">내용</label>
            <textarea class="form-control" name="userComment" rows="5" data-rule="required" data-msg="Please write something for us"></textarea>
            <div class="validation"></div>
            </div>

            <button  id="sendMail" class="btn pull-left" style="background-color:#32dcfa; color:white">SEND MESSAGE</button>
          

        </div>
      </div>
      <!-- ./span12 -->
    </div>

  </div>
</section>
