<div class="custom-size">



  <div class="container col-lg-12" style="background-color: #32dcfa; height:105px;">

  </div>
  <div class="col-lg-12" style="padding:0; background-color:#ffffff;">
    <div class="col-lg-3" style="padding:10px 0;">
    </div>
    <div class="col-lg-3" style="padding:10px 0;">
    </div>
    <div class="col-lg-3 " style="padding:10px 0;">
      <div class="col-lg-6 align-center" style="text-align;">

      </div>
      <div class="col-lg-6 align-center" style="text-align;">
        Channel
      </div>
    </div>
    <div class="col-lg-3" style="padding:10px 0;">
      <div class="col-lg-6 align-center" style="text-align;">
        FAQ
      </div>
      <div class="col-lg-6 align-center" style="text-align;">
        <a ui-sref="Contact.sendTo">Send To</a>
      </div>
    </div>
  </div>

  <div ui-view></div>

</div>
